

<footer>
    <div class="left-footer">
        <p>copyright @10</p>
        <p>Enjoy the season</p>
    </div>

    <div class="right-footer">
        <p>Let bands of color flow through the air</p>
    </div>
</footer>