<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles/login.css">
    <script src="https://kit.fontawesome.com/970c139854.js" crossorigin="anonymous"></script>
</head>
<body>
    <header style="position: fixed;top: 0px;left: 0px;right: 0px;height: 50px;display: flex;align-items: center;justify-content: center;">
        <div style="color: rgba(255, 255, 255, 0.815);font-weight: bold;font-family: monospace;font-size: 30px;">SEASON STORE</div>
    </header>

     <form method="post" action="/register" class="login-form">

        <p class="form-heading">Register</p>

        <div class="form-subbox">
            <label for="email">Email</label>
            <input type="email" name="username" id="email" class="inp" required>
            <i class="fa-solid fa-envelope"></i>
            
        </div>

        <div class="form-subbox">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="inp" required>
            <i class="fa-solid fa-envelope"></i>
            
        </div>

        <div class="form-subbox">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="inp" required>
            <i class="fa-solid fa-lock"></i>
        </div>

        <div class="form-subbox">
              
            <input type="submit" class="submit">
           
        </div>

        

        

        

     </form>
    
</body>
</html>