footer
{
    position: relative;
    height: 200px;
    left: 0px;
    right: 20px;
    bottom: -10px;
    background-color :black;
    color: aliceblue ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}